# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*
!*/
# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!automations.yaml
!configuration.yaml
!customize.yaml
!scenes.yaml
!scripts.yaml
!*.md

# Ignore folders.
.storage
.cloud
.google.token
.image
.node-red
.themes
.tts
.www
.deps
.blueprints
.custom_components
.

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml